@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

body{
  background-color:black; 
  font-family: 'Anonymous Pro', monospace;
  font-weight: 10;
}
.cahr{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.add{
  position: relative;
  display: inline;
      position: fixed;
    display: inline;
    color: white;
    background-color: black;
}
input{
  background-color: black;
  color: white;
  font-family: Monospace;
  font-size:1em;
  padding: 5px;
  border-color:rgba(255, 255, 255, 0.733);
  
}

form{
  display: inline;
}
