*:focus {
  outline: 0;
}

body{
  background-color: rgb(0, 0, 0); 
  font-family: Roboto;
  font-weight: 10;
}
.cahr{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
/* Global */
.start{
   display: block; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */ /* Fallback color */
  background-color: rgba(5, 5, 5, 0.4);


}
.start-con{
  background-color: #000000;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; 
  color:white;
}

.add{
  position: relative;
  display: inline;
      position: fixed;
    display: inline;
    color: white;
    background-color: black;
}
.cahr input{
  background-color: black;
  color: white;
  font-family: Monospace;
  font-size:1em;
  padding: 1em;
  height: 6em;
  width: 8em;
  text-align: center;
  border-color:rgba(255, 255, 255, 0.733);
  border-radius: 100%;
}
.cahr input[type="text"]:focus{
  background-color: rgb(255, 255, 255);
  color: rgb(55, 55, 55);  
}

form{
  display: inline;
}
.charli, .choli{
  display: flex;
  flex-direction: column;
  
}
.charli ul li{
  list-style: none;
  /* text-align: center; */
  /* display: block; */
  border: 0.4px solid white;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 55, 55);
  padding: 2em;
  animation: fadeIn linear 3s;
  margin:1em;

}

input[type=range] {
  -webkit-appearance: none;
  position: relative
}

input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 2px;
  border: none;
  border-radius: 3px;
  background-color: white;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 510%;
  background: #030ad0;
  border: 2px solid #515151;
  margin-top: -5px;
  cursor: pointer;
}

.focused::-webkit-slider-thumb {
  box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.15)
}

.choli ul li{
  list-style: none;
  /* text-align: center; */
  /* display: block; */
  border: 0.4px solid white;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  color: rgb(55, 55, 55);
  padding: 2em;
  width: 100%;
  margin-bottom: 1em;
 



 }
 .hoice{
   display: flex;
   justify-content:flex-end;
   flex-direction: row;
  animation: fadeIn linear 3s;  
 }
 
 @keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-o-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@-ms-keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
 